header{
    text-align: center;
}
 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:italic;
    color: rgb(208, 130, 12);
    text-shadow: rgb(216, 195, 195);
    padding-top: 100px;
    padding-left: 130px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:italic;
    text-shadow: rgb(208, 130, 12);
    color: aliceblue;
    padding-left: 80px;
}
  p{
    color: rgb(193, 146, 76);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:italic;
    font-size: larger;
    padding-left: 80px;
}


 button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #ffb3b3;
    background: red;
    outline: none;
    cursor: pointer;
    border: 1px solid #cc0000;
    transition: 4s;
}
